<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to My Travel Blog!</h1>
    <a href="/posts/new">Add New Post</a>
    <ul>
      {{#each posts}}
        <li>{{this.title}}</li>
      {{/each}}
    </ul>

    <ul>
  {{#each posts}}
    <li>
      <h2>{{this.title}}</h2>
      <form action="/posts/{{this._id}}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
    </li>
  {{/each}}
</ul>

    <script src="/js/script.js"></script>
</body>
</html>
