<main class="mx-auto" style="width: 800px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <h1 class="jumbotron-heading">Add New Post</h1>

                <form action="/posts" method="POST">
                    <div class="form-group">
                        <label for="title">Blog Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="content">Blog Content</label>
                        <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                    </div>

                    <br>

                    <button type="submit" class="btn btn-primary">Add Post</button>
                    <a class="btn btn-secondary pull-right" href="/">Back to Home</a>
                </form>
            </div>
        </div>
    </div>
</main>